:focus {
  outline: none;
}

.btn {
  background-color: transparent;
  border: #fff 2px solid;
  padding: 10px 30px;
  border-radius: 25px;
}

.btn.focus, .btn:focus,
.btn.btn:hover {
  background-color: #fff;
  border-color: #fff;
}

.btn.disabled,
.btn.disabled.focus, 
.btn.disabled:focus, 
.btn.disabled:hover, 
.btn[disabled].focus, 
.btn[disabled]:focus, 
.btn[disabled]:hover {
  background: #dadada;
  border-color: #dadada;
  color: #5a5a5a;
  cursor: default;
}