html, body {
  background-color: rgb(252, 208, 54) !important;
  background-image: url(http://s3.meituan.net/v1/mss_65766da973d14523b3d781fe3ac2bbac/op-assets/imgs/2018-02-02-030621.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 354px 160px;
}

:focus {
  outline: none;
}

.btn {
  background-color: transparent;
  border: #fff 2px solid;
  padding: 10px 30px;
  border-radius: 25px;
}

.btn.focus, .btn:focus,
.btn.btn:hover {
  background-color: #fff;
  border-color: #fff;
}

.btn.disabled,
.btn.disabled.focus, 
.btn.disabled:focus, 
.btn.disabled:hover, 
.btn[disabled].focus, 
.btn[disabled]:focus, 
.btn[disabled]:hover {
  background: #dadada;
  border-color: #dadada;
  color: #5a5a5a;
  cursor: default;
}