.btn {
  background-color: transparent;
  border: #fff 2px solid;
  padding: 10px 30px;
  border-radius: 25px;
}

.btn.focus, .btn:focus,
.btn.btn:hover {
  background-color: #fff;
  border-color: #fff;
}
.btn.disabled.focus, 
.btn.disabled:focus, 
.btn.disabled:hover, 
.btn[disabled].focus, 
.btn[disabled]:focus, 
.btn[disabled]:hover, 
fieldset[disabled] .btn.focus, 
fieldset[disabled] .btn:focus, 
fieldset[disabled] .btn:hover {
}